<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hệ thống chấm điểm bài thể dục tự động</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="javascript:void(0);">Trang cá nhân <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()" href="#">Đăng xuất</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ước tính tư thế
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/test">Kiểm tra</a>
            <a class="dropdown-item" href="/practice">Tập luyện tự do</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    <div class="container-fluid p-0">
		<h1 class="h3 mb-3">{{classInfo.subject}} - {{classInfo.id}} - {{classInfo.weekDay}} - {{classInfo.startTime}}</h1>
		<div *ngIf="currentUser.accountType==roleTeacher" class="row">
			<label for="subject">Tiêu đề bài đăng</label>
            <input type="text" class="form-control" id="subject" 
			[(ngModel)]=postData.postName #postName="ngModel" name="postname"/>
			<label for="subject">Nội dung bài đăng</label>
            <textarea type="text" class="form-control" id="subject" 
			[(ngModel)]=postData.content #postContent="ngModel" name="postContent">
			</textarea>
			<button type="submit" (click)="createPost()" class="btn btn-primary">Đăng bài</button>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<div class="card">
					<div class="card-header pb-0">
						<h5 class="card-title mb-0">Danh sách lớp</h5>
					</div>
					<div class="card-body">
						<table class="table table-striped" style="width:100%">
							<thead>
								<tr>
									<th>#</th>
									<th>Họ và tên</th>
									<th>Mã sinh viên</th>
									<th *ngIf="currentUser.accountType==roleTeacher">Điểm</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let student of students; let i = index">
									<td>{{i + 1}}</td>
									<td>{{student.fullName}}</td>
									<td>{{student.id}}</td>
									<td *ngIf="currentUser.accountType==roleTeacher">{{student.grade}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-xl-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Thông tin giáo viên</h5>
					</div>
					<div class="card-body">

						<table class="table table-sm mt-2 mb-4">
							<tbody>
								<tr>
									<th>Tên</th>
									<td>{{teacherInfo.fullName}}</td>
								</tr>
								<tr>
									<th>Số điện thoại</th>
									<td>{{teacherInfo.phoneNumber}}</td>
								</tr>
								<tr>
									<th>Email</th>
									<td>{{teacherInfo.email}}</td>
								</tr>
								<tr>
									<th>Ngày sinh</th>
									<td>{{formatDate(teacherInfo.dateOfBirth)}}</td>
								</tr>
							</tbody>
						</table>

						<strong>Bài đăng</strong>

						<ul class="timeline mt-2 mb-0">
							<li *ngFor="let post of posts" class="timeline-item">
								<strong>{{post.postName}}</strong>
								<span class="float-right text-muted text-sm">{{formatDate(post.updatedAt)}}</span>
								<p>{{post.content}}</p>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<app-footer></app-footer>