<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hệ thống chấm điểm bài thể dục tự động</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="javascript:void(0);">Trang cá nhân <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()" href="#">Đăng xuất</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ước tính tư thế
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/test">Kiểm tra</a>
            <a class="dropdown-item" href="/practice">Tập luyện tự do</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    <div class="container-fluid p-0">
		<h1 class="h3 mb-3">Xin chào {{teacherInfo.fullName}}</h1>
		<div class="row">
			<div class="col-xl-8">
				<div class="card">
					<div class="card-header pb-0">
						<h5 class="card-title mb-0">Danh sách lớp của bạn</h5>
					</div>
					<div class="card-body">
						<table class="table table-striped" style="width:100%">
							<thead>
								<tr>
									<th>Môn học</th>
									<th>Mã lớp</th>
									<th>Ngày học</th>
									<th>Giờ học</th>
								</tr>
							</thead>
							<tbody>
								<tr (click)="goToClass(class.id)" *ngFor="let class of classes">
									<td>{{class.id}}</td>
									<td>{{class.subject}}</td>
									<td>{{class.weekDay}}</td>
									<td>{{class.startTime}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-xl-4">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Bài đăng của bạn</h5>
					</div>
					<div class="card-body">

						<ul class="timeline mt-2 mb-0">
							<li *ngFor = "let post of posts" class="timeline-item">
								<strong>{{post.postName}}</strong>
								<span class="float-right text-muted text-sm">{{formatDate(post.updatedAt)}}</span>
								<p>{{post.content}}</p>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<app-footer></app-footer>